

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}


/* Navbar */
#wrapper{
    overflow: hidden;
}

nav.sticky{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
  
    min-height: 80;
    z-index: 2;
   
    background-color: #252830;
    

}

nav ul{
    list-style-type: none;
    display: flex;
    gap: 1.3em;
   

}
.navv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    min-height: 80;
    z-index: 2;
   
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1em;
    
    
}
.hamburger{
    display: none;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 24px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #1570f8;
}
.text{
    position: absolute;
    top: 6em;
    color: white;
    padding: 5em;
    text-align: left;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
.text p{
    font-size: 4em;
    font-weight: lighter;
    letter-spacing: 0.5px;
    top: 8em;
}

.texts{
   font-size:8em;
   line-height: 1.2;
   letter-spacing: 0.5px;
  
    

}
header {
    background-image: url('/images/restaurant.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 170vh;
    width: 100%;
    overflow-y: hidden;
}
.content {
    position: absolute;
    left: 4em;
    top: 40em;
    display: flex;
}
.card{
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin: 15px;
    padding: 10px;
    /* width: 60%; */
    
}


.container{
    padding: 50px;
    
}

.section-body{
    background-color: rgb(201, 197, 193);
    /* height: 70vh; */
    font-family: 'Roboto', sans-serif;
    
}

.story{
    max-width: 65%;
    padding-top: 2em;
    text-align: center;
    left: 10em; 
    color: rgb(61, 58, 47);
    margin: auto;

}

.story h1{
    font-size: 24px;
    font-weight: 100; 
}

.story p{
    padding: 1.2em;
    letter-spacing: 0.5px;
    line-height: 1.45em;
    font-size: 16px; 
}
.menu{
    background-image: url('images/checked_menu.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 80vh;
    position: relative; 
    display: flex;
}

.menu-story{
    font-family: 'Roboto', sans-serif; 
   width: 50%;
    color: white;
    margin-top: 8em;
    margin-left: 1em;
}

.menu-story h2{
    font-size: 50px;
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 40px;
    
}


/* span{
    font-weight: bolder;
} */

.menu-story p{
    padding: 0.3em;
    margin: 10px;
    font-size: 20px;

}

#menu-btn {
    background-color: #f0ad4e;
    border-color: #eea236;
   color: white;
    width: 30%;
    padding: 23px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    
}


.features{
    background-image: url('images/bgcolor.png');
    /* height: 120vh; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
   
    position: relative; 
    
}
.feature{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-content: center;
    gap: 5em;
    padding: 3rem 15px;
  
  
}

.feature-post{
    width: 25%;
    padding-top: 2em 2em;
}
.feature-post h1{
    color: rgb(61, 58, 47);
    font-size: 1em;
}
.feature-post p {
    color: rgb(61, 58, 47);
    line-height: 1.5em;
    font-size: 1em;
    word-spacing: 0.25em;
}
.last{
    margin-bottom: 4em;
}

.reviews{
    background-image: url('images/bg21.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* min-height: 40vh; */
    position: relative; 
    text-align: center;
}
.fa-star {
    color: yellow;
    font-size: 1.5em;
    margin-top: 5em;
    padding-bottom: 2em;
}
.review{
    color: #fff;
    font-size: 1.5em;
    /* line-height: 1em; */
   

}


.customer{
    align-items: center;
    background-image: url('images/bg5.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* min-height: 50vh; */
    position: relative;
   
    

}

.customers{
    display: flex;
    justify-content: space-between;
    padding: 50px;
    margin: 2px 28px;
   } 

.icons{
  
font-size: 3.5em;
font-family: 'Roboto', sans-serif;
font-weight: 100;
text-align: center;

}
.icons h2{
    font-size: 50px;
}

.icons p{
    font-size: 25px;

}
.table{
  
    background-image: url('images/last.jpg');
    
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
   
     
}
.ltable{
    margin-top: 3em;
    padding: 1em 1.5em  ;
    color: #fff;
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-transform: none;
}

.rtable{
    width: 22vw;
    margin-right: 17em;
    margin-top: 12em;
    margin-left: 10em;
    color: #fff;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    line-height: 1.5em;
    font-size: 1em;
    word-spacing: 0.25em;
   
 
  
}

input {
    margin: 1em;
    padding: 1em  0;
    background-color: transparent;
    border: none;
    font-size: 0.5em;
    width: 100%;
}
input ::placeholder{
    outline: none;
}

input :focus{
    outline: none;
    border: none;
}


.btn-container {
    margin-top: 3rem;
  }
  .button2 {
    background-color: #f0ad4e;
    border-color: #eea236;
   color: white;
    width: 40vw;
    padding: 23px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
  }

footer{
    background-color:#252830;
    color: #fff;
    /* height: 50vh; */
    display: flex;
    align-items: center;
    justify-content: space-between;
   width: 100%;
   font-weight: bold;
   padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 40px;
    padding-right: 40px;

}
.footer-text{
    font-size: 1em;
    display: flex;
   
    
}
.t{
    padding-left: 1.5em;
}

ul{
    list-style: none;
    display: flex;
    gap: 1.5em;
}

#container-box{
    display: none;
    margin-bottom: 1.5em;
    align-items: center;
    box-sizing: border-box;
    background-color: transparent;
    border-radius: 2em;
    color: white;
    padding: 1rem;
    box-shadow: 2px 2px 3px 3px #f0bb0d;;
    /* width: 40%; */
    margin-top: 2em;
    animation: fadeIn 1.5s;
    animation: fadeOut 1.5s;
    animation-name: fadeIn;
  
  }
  
  @keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0}
  }

  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1}
  }



.items{
   list-style-type: none;
   display: flex;
   text-decoration: none;
   animation: fadeIn 1.5s;
   
}

.items a{
    list-style-type: none;
    color: white;
    text-decoration: none;
   
}

.items li{
    margin: 1em;
    padding: 0.7em;
    
}

.menu-text{
    text-align: center;
    background-color: #e8b718;
}

.drinks{
    padding: 1em;
}



/* media query */


   

    
    
    


@media only screen and (max-width : 980px)
     { 
        *{
            
            overflow-x: hidden;
        }

        header {
       
            min-height: 150vh;
          
           
           
        }
        
        .nav-menu{
            position: fixed;
                left: -100%;
                top: 4rem;
                flex-direction: column;
                background-color: rgb(4, 21, 29);
                width: 100%;
                border-radius: 10px;
                text-align: center;
                transition: 0.3s;
                animation: fadeIn 1s;
              font: 1.5em sans-serif;
                box-shadow:
                    0 10px 27px rgba(0, 0, 0, 0.05);
        }
        
        @keyframes fadeIn {
            from {opacity: 0;}
            to {opacity: 1}
          }
        .nav-menu.active{
            left: 0;
        }
        .hamburger{
            display: block;
            cursor: pointer;
        }
        
        
        
        .hamburger.active .bar:nth-child(2) {
            opacity: 0;
        }
        
        .hamburger.active .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }
        
        .hamburger.active .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }
        
        
    
        .text{
            
            top: 10em;
            padding: 5em;
            text-align: center;
            
        }
        .texts{
            font-size:6em;
        
         }
        .text p{
            font-size: 6em;
            top: 16em;
        }
        .card{
            padding: 10px;
            /* width: 50%; */
            /* margin: 40px;  */
            display: block;
            flex-direction: column;
            font-size: 2em;
            margin: 1em ;
            
        }
        .content {
           
            display: block;
            flex-direction: column;
            
            /* width: 55vh; */
        }
        .section-body{
            height: 40vh;
          /* width: 55vh; */
            font-size: 24px;
            
        }
        
        .story{
            top: 30em;
            text-align: center;
            margin: auto;
            width: 100%;
            
        }
    
        .story h1{
            font-size: 3em;
             
         }
        .story p{
           font-size: 1.5em;
            
        }
        
        .texts{
            font-size:8em;
            
         }
        .menu{
           
            min-height: 50vh;
            /* width: 55vh; */
            text-align: center;
            display: block;
              
        }
        
        .menu-story{
            color: white;
            width: 100%;
            /* padding: 1em 2em;  */
           
            
           
        }
        .menu-story h2{
            font-size: 5em;
            font-weight: bolder;
            
           
        }
        
       .menu-story p{
           margin: 1px;
           padding: 0.5em;
           font-size: 1.5em;
           width: 100%;
       }
        #menu-btn {
            margin: 5px;
            font-size: 4em;
            width: 60%;
            border-radius: 0.2em;
            
        } 
    
        .features{
            
            height: 165vh;
            /* width: 55vh; */
            
            
        }
        .feature{
            display: block;
            flex-direction: column;
           
            margin: auto;
            align-content: center;
            /* padding: 5em 10em; */
          
          
        }
        
        .feature-post{
            width: 100%;
            font-size: 2em;
            margin: 1.6em 0.2em;
           
        }
        .feature-post img{
            width: 50%;
            height: 50%;
        }
    
        .feature-post.active{
            width: 100%;
            
            font-size: 3em;
        }
    
       
        .reviews .fa-star{
           
           font-size: 2em;
           padding: 1.5em;
           font-weight: bolder;
           
            
        }
        /* .reviews{
            width: 55vh;
        } */
    
        .review{
           
            font-size: 3em;
            /* width: 50%; */
            margin: auto;
         
           
            
        }
        .customer{
            
            min-height: 90vh;
            position: relative;
            /* width: 55vh; */
        }
        
        .customers{
            display: block;
            justify-content: space-between;
            padding: 15px ;
            margin: 0.2em ;
           } 
        
        .icons{
          
        font-size: 8em;
        margin: 0.5em ;
        /* padding: 1em; */
        
        }
        .icons h2{
            font-size: 1.3em;
            font-weight: lighter;
        }
        
        .icons p{
            font-size: 50px;
        
        }
        .table{
            min-height: 80vh;
            display: block;
            
            /* width: 55vh; */
            
           
             
        }
        .ltable{
          
           font-size: 2.5em;
           margin: auto;
           
        }
        
        .rtable{
            display: block;
            margin-top: auto;
            width: 90%;
            margin-left: 2em;
            font-size: 1.5em;  
        }
        input{
            font-size: 1.1em;
        }
        
        .btn-container {
            margin-top: 4rem;
           
          }
          .button2 {
            
            font-size: 1.5em;
            width: 100%;
           
          }
          
          /* width: 55vh;  */
          
         
          
          @keyframes fadeOut {
            from {opacity: 1;}
            to {opacity: 0}
          }
        
          @keyframes fadeIn {
            from {opacity: 0;}
            to {opacity: 1}
          }
        
        
        
        .items{
           list-style-type: none;
           display: flex;
           text-decoration: none;
           animation: fadeIn 1.5s;
           
        }
        
        .items a{
            list-style-type: none;
            color: white;
            text-decoration: none;
           
        }
        
        .items li{
            margin: 1em;
            padding: 0.7em;
            
        }
        
        .menu-text{
            text-align: center;
            background-color: #e8b718;
        }
        
        .drinks{
            padding: 1em;
        }
        
        
          
        
        
          


}